section#hero{
    min-height: 20rem;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

}
section#hero{
    font-size: 5rem;
    color: whitesmoke;
}
section#likes div{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

section#likes article{
    flex: 1;
    min-width: 15rem;

}


/* DEMOS ========================================== */

section.demo div{
    display: flex;
    gap: 1rem;
    background-color: #6666;
    padding: 2rem;
}

section.demo div p{
font-size: 5rem;
background-color: hotpink;

padding: 1rem;
}